@import "tailwindcss";

@theme {
  --color-lambo-orange: #FF7500;
  --color-lambo-black: #0F0F0F;
  --color-carbon-gray: #1C1C1C;
  --color-electric-cyan: #00E5FF;
  --color-alert-red: #FF2A2A;

  --font-orbitron: var(--font-orbitron);
  --font-rajdhani: var(--font-rajdhani);
}

@layer base {
  body {
    background-color: var(--color-lambo-black);
    color: white;
    font-family: var(--font-rajdhani), sans-serif;
  }

  ::selection {
    background-color: var(--color-lambo-orange);
    color: white;
  }
}
